---
interface Props {
  id?: string
  title?: string
  description?: string
}

const { id, title, description } = Astro.props
---

<section id={id} class="min-h-screen scroll-mt-4 px-6 py-20">
  <div class="mx-auto w-full max-w-4xl">
    <div class="text-center">
      {
        (title || description) && (
          <header class="mb-12 space-y-4">
            {title && <h2 class="text-4xl font-extrabold tracking-tight">{title}</h2>}

            {description && (
              <p class="mx-auto max-w-2xl leading-relaxed text-gray-600">
                {description}
              </p>
            )}
          </header>
        )
      }
    </div>

    <div class="space-y-8">
      <slot />
    </div>
  </div>
</section>
