---
import type { Experience } from '@/types/profile'
import Timeline from '@/components/ui/Timeline.astro'

interface Props {
  experiences: Experience[]
}

const { experiences } = Astro.props
---

<div class="max-h-[570px] overflow-y-auto px-4">
  <Timeline items={experiences} />
</div>
