---
import type { Project } from '@/types/site'
import Card from '@/components/ui/Card.astro'

interface Props {
  projects: Project[]
}

const { projects } = Astro.props as Props
---

<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {
    projects.map((item) => (
      <a href={item.url} class="block">
        <Card title={item.title} description={item.description} icon="github" />
      </a>
    ))
  }
</div>
